{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    Question #{{ question.number }}: <b>{{ question.text }}</b> ?
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
{#        {{ form|crispy }}#}
{#        {{ formset.management_form|crispy }}#}
        {{ formset|crispy }}

        <button type="submit" class="btn btn-success">Save</button>
        <div class="col-md-2 text-left">
            <a href="{{ question.prev }}" class="btn btn-light"><< Previous</a>
        </div>
        <div class="col-md-12 text-right">
            <a href="{{ question.next }}" class="btn btn-light">Next >></a>
        </div>

    </form>
{% endblock %}
